* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "NunitoSans";
  font-weight: 400;
}

.navbar {
  background-color: $primary-color-one;

  @include tablet {
    display: flex;
    padding: 0px 36px;
    gap: 36px;
  }

  @include desktop {
    padding-left: 130px;
  }

  &__logo {
    @include flex-center(row);
    padding: 16px 0;
  }

  &__list {
    list-style: none;
    display: flex;
    padding: 0;

    @include tablet {
      display: flex;
      align-items: center;
      gap: 36px;
      padding: 0px;
    }
  }

  &__link {
    width: 50%;
    text-align: center;
    color: $primary-color-two;
    padding-bottom: 16px;
    font-size: 13px;

    &.active {
      border-bottom: 3px solid $primary-color-three;
      font-weight: bold;
    }

    &:hover {
      border-bottom: 3px solid $primary-color-three;
      color: $secondary-color-three;
    }

    @include tablet {
      padding: 32px 0;
      font-size: 14px;
    }

    a {
      text-decoration: none;
      color: $primary-color-three;
    }
  }
}

.footer {
  background-color: $primary-color-one;
  color: $primary-color-three;
  padding: 24px 16px 16px 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;

  @include tablet {
    padding: 40px 36px;
    gap: 36px;
  }

  @include desktop {
    padding: 40px 150px;
  }

  &__logo {
    &--desktop {
      display: none;

      @include tablet {
        display: flex;
        align-items: center;
      }
    }

    &--mobile {
      padding-top: 40px;

      @include tablet {
        display: none;
      }
    }
  }

  &__brand {
    @include tablet {
      display: flex;
      justify-content: space-between;
    }
  }

  &__social {
    @include flex-align(column, 16px);

    @include tablet {
      @include flex-align(row, 36px);
    }

    @include desktop {
      @include flex-align(row, 60px);
      align-items: center;
    }

    &--title {
      font-family: "NunitoSans";
      font-size: 24px;
      font-weight: 700;

      @include tablet {
        font-size: 36px;
      }
    }
    &--icon {
      @include flex-align(row, 30px);

      @include tablet {
        align-items: center;
        position: relative;
        top: 4px;
      }

      @include desktop {
        top: 5px;
      }
    }
  }

  &__info {
    @include flex-align(column, 24px);

    @include tablet {
      @include flex-align(row, 0px);
      justify-content: space-between;
    }

    @include desktop {
      @include flex-align(row, 80px);
      justify-content: flex-start;
    }

    .footer__management,
    .footer__artist-group,
    .footer__entertainment {
      @include flex-align(column, 16px);

      @include tablet {
        gap: 24px;
      }

      h3 {
        font-family: "NunitoSans";
        font-size: 13px;
        font-weight: 700;

        @include tablet {
          font-size: 14px;
        }
      }

      p {
        font-family: "NunitoSans";
        font-size: 13px;
        font-weight: 400;

        @include tablet {
          font-size: 14px;
        }
      }

      a {
        text-decoration: none;
        color: $primary-color-three;
      }
    }
  }

  &__copyright {
    font-family: "NunitoSans";
    font-size: 11px;
    font-weight: 400;

    @include tablet {
      padding: 16px 0px;
      font-size: 14px;
    }

    @include desktop {
      padding: 18px 0px;
    }
  }
}
