@use "./variables" as *;

@mixin tablet {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 1280px) {
    @content;
  }
}

@mixin flex-center($direction) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}

@mixin flex-align($direction, $gap) {
  display: flex;
  flex-direction: $direction;
  gap: $gap;
}

@mixin button {
  height: 40px;
  box-shadow: none;
  border-style: none;
  background-color: $primary-color-one;
  color: $primary-color-three;
  border-radius: 4px;
}
