$primary-color-one: #323232;
$primary-color-two: #afafaf;
$primary-color-three: white;

$secondary-color-one: #000000;
$secondary-color-two: #e1e1e1;
$secondary-color-three: #fafafa;

$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;
