* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "NunitoSans";
  font-weight: 400;
}

@font-face {
  font-family: "NunitoSans";
  src: url("../../assets/fonts/NunitoSans-Regular.woff");
  font-weight: 400;
}
@font-face {
  font-family: "NunitoSans";
  src: url("../../assets/fonts/NunitoSans-Medium.woff2") format("woff2");
  font-weight: 500;
}
@font-face {
  font-family: "NunitoSans";
  src: url("../../assets/fonts/NunitoSans-Bold.woff2") format("woff2");
  font-weight: 700;
}
.navbar {
  background-color: #323232;
}
@media (min-width: 768px) {
  .navbar {
    display: flex;
    padding: 0px 36px;
    gap: 36px;
  }
}
@media (min-width: 1280px) {
  .navbar {
    padding-left: 130px;
  }
}
.navbar__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 16px 0;
}
.navbar__list {
  list-style: none;
  display: flex;
  padding: 0;
}
@media (min-width: 768px) {
  .navbar__list {
    display: flex;
    align-items: center;
    gap: 36px;
    padding: 0px;
  }
}
.navbar__link {
  width: 50%;
  text-align: center;
  color: #afafaf;
  padding-bottom: 16px;
  font-size: 13px;
}
.navbar__link:active {
  border-bottom: 3px solid white;
}
.navbar__link:hover {
  border-bottom: 3px solid white;
  color: #fafafa;
}
@media (min-width: 768px) {
  .navbar__link {
    padding: 22px 0;
  }
}

.herosection {
  background-image: url(../assets/images/hero-bio.jpg);
  background-position: center center;
  background-size: cover;
  background-color: rgba(50, 50, 50, 0.5);
  background-blend-mode: overlay;
  width: 100%;
  height: 200px;
  position: relative;
}
.herosection__title {
  color: white;
  position: absolute;
  top: 90px;
  padding-left: 16px;
}
@media (min-width: 768px) {
  .herosection__title {
    font-size: 60px;
    font-weight: 700;
    position: absolute;
    top: 230px;
    padding-left: 36px;
  }
}
@media (min-width: 1280px) {
  .herosection__title {
    top: 330px;
    padding-left: 130px;
  }
}
@media (min-width: 768px) {
  .herosection {
    height: 500px;
  }
}
@media (min-width: 1280px) {
  .herosection {
    height: 700px;
  }
}

.aboutbandsite__title {
  display: flex;
  align-items: center;
  padding: 24px 16px 0px 16px;
  color: #323232;
  font-family: "NunitoSans";
  font-size: 24px;
  font-weight: 700;
}
@media (min-width: 768px) {
  .aboutbandsite__title {
    font-size: 36px;
    padding-left: 36px;
    padding-top: 40px;
  }
}
.aboutbandsite__image {
  padding: 16px;
  height: 200px;
  width: 100%;
}
@media (min-width: 768px) {
  .aboutbandsite__image {
    padding: 24px 90px 30px 90px;
    height: 400px;
    width: 100%;
  }
}
@media (min-width: 1280px) {
  .aboutbandsite__image {
    padding: 24px 220px 30px 220px;
    height: 550px;
  }
}
.aboutbandsite__quote {
  color: #323232;
  font-family: "NunitoSans";
  font-size: 14px;
  font-weight: 700;
  padding: 0px 16px 16px 16px;
}
@media (min-width: 768px) {
  .aboutbandsite__quote {
    font-size: 21px;
    padding: 0px 90px 10px 90px;
    font-weight: bolder;
  }
}
@media (min-width: 1280px) {
  .aboutbandsite__quote {
    padding: 0px 220px 10px 220px;
    width: 90%;
  }
}
.aboutbandsite__quote--vocalist {
  color: #323232;
  font-family: "NunitoSans";
  font-size: 14px;
  font-weight: 700;
  padding: 0px 16px;
}
@media (min-width: 768px) {
  .aboutbandsite__quote--vocalist {
    font-size: 15px;
    padding: 0px 90px;
    font-weight: 900;
  }
}
@media (min-width: 1280px) {
  .aboutbandsite__quote--vocalist {
    padding: 0px 220px;
  }
}
.aboutbandsite__article {
  font-family: "NunitoSans";
  font-size: 14px;
  font-weight: 700;
  color: #323232;
  padding: 16px;
}
@media (min-width: 768px) {
  .aboutbandsite__article {
    font-size: 24px;
    font-weight: 500;
    padding: 36px 90px 25px 90px;
  }
}
@media (min-width: 1280px) {
  .aboutbandsite__article {
    padding: 36px 220px 25px 220px;
  }
}
@media (min-width: 768px) {
  .aboutbandsite__article--whole {
    display: flex;
    padding: 0px 90px 36px 90px;
    gap: 10px;
    line-height: 1.5rem;
    font-size: 14px;
  }
}
@media (min-width: 1280px) {
  .aboutbandsite__article--whole {
    padding: 0px 220px 36px 220px;
  }
}
.aboutbandsite__article--whole .aboutbandsite__article--first {
  padding: 0px 16px 24px 16px;
  font-family: "NunitoSans";
  font-size: 14px;
  font-weight: 400;
  color: #323232;
}
@media (min-width: 768px) {
  .aboutbandsite__article--whole .aboutbandsite__article--first {
    padding: 0px;
  }
}
.aboutbandsite__article--whole .aboutbandsite__article--second {
  padding: 0px 16px 16px 16px;
  font-family: "NunitoSans";
  font-size: 14px;
  font-weight: 400;
  color: #323232;
}
@media (min-width: 768px) {
  .aboutbandsite__article--whole .aboutbandsite__article--second {
    padding: 0px;
  }
}

.photogallery {
  background-color: #fafafa;
  padding: 16px;
}
@media (min-width: 768px) {
  .photogallery {
    padding: 45px 36px 36px 36px;
  }
}
@media (min-width: 1280px) {
  .photogallery {
    padding: 45px 150px 36px 150px;
  }
}
.photogallery__title {
  color: #323232;
  padding-bottom: 11px;
  font-size: 24px;
  font-family: "NunitoSans";
  font-weight: 700;
}
@media (min-width: 768px) {
  .photogallery__title {
    font-size: 36px;
    padding-left: 10px;
  }
}
@media (min-width: 768px) {
  .photogallery__collection {
    display: flex;
    flex-wrap: wrap;
  }
}
.photogallery__collection--image {
  width: 100%;
  padding: 5px 0px;
}
@media (min-width: 768px) {
  .photogallery__collection--image {
    width: 32%;
    padding: 10px;
    flex-grow: 1;
  }
}
@media (min-width: 1280px) {
  .photogallery__collection--image {
    width: 33%;
  }
}

.footer {
  background-color: #323232;
  color: white;
  padding: 24px 16px 16px 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
@media (min-width: 768px) {
  .footer {
    padding: 40px 36px;
    gap: 36px;
  }
}
@media (min-width: 1280px) {
  .footer {
    padding: 40px 150px;
  }
}
.footer__logo--desktop {
  display: none;
}
@media (min-width: 768px) {
  .footer__logo--desktop {
    display: flex;
    align-items: center;
  }
}
.footer__logo--mobile {
  padding-top: 40px;
}
@media (min-width: 768px) {
  .footer__logo--mobile {
    display: none;
  }
}
@media (min-width: 768px) {
  .footer__brand {
    display: flex;
    justify-content: space-between;
  }
}
.footer__social {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
@media (min-width: 768px) {
  .footer__social {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
}
.footer__social--title {
  font-family: "NunitoSans";
  font-size: 24px;
  font-weight: 700;
}
@media (min-width: 768px) {
  .footer__social--title {
    font-size: 36px;
  }
}
.footer__social--icon {
  display: flex;
  flex-direction: row;
  gap: 30px;
}
@media (min-width: 768px) {
  .footer__social--icon {
    align-items: center;
  }
}
.footer__info {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
@media (min-width: 768px) {
  .footer__info {
    display: flex;
    flex-direction: row;
    gap: 0px;
    justify-content: space-between;
  }
}
@media (min-width: 1280px) {
  .footer__info {
    display: flex;
    flex-direction: row;
    gap: 60px;
    justify-content: start;
  }
}
.footer__info .footer__management,
.footer__info .footer__artist-group,
.footer__info .footer__entertainment {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
@media (min-width: 768px) {
  .footer__info .footer__management,
  .footer__info .footer__artist-group,
  .footer__info .footer__entertainment {
    gap: 24px;
  }
}
.footer__info .footer__management h3,
.footer__info .footer__artist-group h3,
.footer__info .footer__entertainment h3 {
  font-family: "NunitoSans";
  font-size: 13px;
  font-weight: 700;
}
.footer__info .footer__management p,
.footer__info .footer__artist-group p,
.footer__info .footer__entertainment p {
  font-family: "NunitoSans";
  font-size: 13px;
  font-weight: 400;
}
.footer__copyright {
  font-family: "NunitoSans";
  font-size: 11px;
  font-weight: 400;
}
@media (min-width: 768px) {
  .footer__copyright {
    font-size: 13px;
  }
}/*# sourceMappingURL=bio.css.map */