@use "./partials/variables" as *;
@use "./partials/mixins" as *;
@use "./partials/typography" as *;
@import "./partials/global";

.herosection {
  background-image: url(../assets/images/hero-bio.jpg);
  background-position: center center;
  background-size: cover;
  background-color: rgba(50, 50, 50, 0.5);
  background-blend-mode: overlay;
  width: 100%;
  height: 12.5rem;
  position: relative;

  &__title {
    color: $primary-color-three;
    position: absolute;
    top: 5.625rem;
    padding-left: 1rem;

    @include tablet {
      font-size: 3.75rem;
      font-weight: 700;
      position: absolute;
      top: 14.375rem;
      padding-left: 2.25rem;
    }

    @include desktop {
      top: 17.5rem;
      padding-left: 8.125rem;
    }
  }

  @include tablet {
    height: 31.25rem;
  }

  @include desktop {
    background-position: center;
    height: 39.375rem;
  }
}

.aboutbandsite {
  &__title {
    display: flex;
    align-items: center;
    padding: 1.5rem 1rem 0.5rem 1rem;
    color: $primary-color-one;
    font-family: "NunitoSans", sans-serif;
    font-size: 1.5rem;
    font-weight: 700;

    @include tablet {
      font-size: 2.25rem;
      padding-left: 2.25rem;
      padding-top: 2.5rem;
      padding-bottom: 2.25rem;
    }

    @include desktop {
      padding-left: 7.1875rem;
      padding-top: 3rem;
    }
  }

  &__imagediv {
    height: 12.5rem;
    margin-bottom: 1rem;
    overflow: hidden;
    @include flex-center(row);

    @include tablet {
      height: 25rem;
      margin-bottom: 1.125rem;
    }

    @include desktop {
      height: 34.375rem;
      margin-bottom: 2.25rem;
    }
    &-image {
      width: 100%;
      height: auto;
      padding: 1rem;
      object-fit: cover;

      @include tablet {
        padding: 1.5rem 5.625rem 1.875rem 5.625rem;
      }

      @include desktop {
        padding: 1.75rem 12.5rem 1.875rem 12.5rem;
      }
    }
  }

  &__quote {
    color: $primary-color-one;
    font-family: "NunitoSans", sans-serif;
    font-size: 0.875rem;
    font-weight: 700;
    padding: 0 1rem 1rem 1rem;

    @include tablet {
      font-size: 1.3125rem;
      padding: 0 5.625rem 0.625rem 5.625rem;
      font-weight: bolder;
    }

    @include desktop {
      padding: 0 12.5rem 0.625rem 12.5rem;
      width: 88%;
    }

    &--vocalist {
      color: $primary-color-one;
      font-family: "NunitoSans", sans-serif;
      font-size: 0.875rem;
      font-weight: 700;
      padding: 0 1rem;

      @include tablet {
        font-size: 0.9375rem;
        padding: 0 5.625rem;
        font-weight: 900;
      }

      @include desktop {
        font-size: 1rem;
        padding: 0 12.5rem;
      }
    }
  }

  &__article {
    font-family: "NunitoSans", sans-serif;
    font-size: 0.875rem;
    font-weight: 700;
    color: $primary-color-one;
    padding: 1rem;

    @include tablet {
      font-size: 1.5rem;
      font-weight: 500;
      padding: 2.25rem 5.625rem 1.5625rem 5.625rem;
    }

    @include desktop {
      padding: 2.25rem 12.5rem 1.5625rem 12.5rem;
    }

    &--whole {
      @include tablet {
        display: flex;
        padding: 0 5.625rem 2.25rem 5.625rem;
        gap: 0.625rem;
        line-height: 1.5rem;
        font-size: 0.875rem;
      }

      @include desktop {
        padding: 0 12.5rem 2.25rem 12.5rem;
      }

      .aboutbandsite__article--first {
        padding: 0 1rem 1.5rem 1rem;
        font-family: "NunitoSans", sans-serif;
        font-size: 0.8125rem;
        font-weight: 400;
        color: $primary-color-one;
        @include tablet {
          font-size: 0.875rem;
          padding: 0;
        }
      }
      .aboutbandsite__article--second {
        padding: 0 1rem 1rem 1rem;
        font-family: "NunitoSans", sans-serif;
        font-size: 0.8125rem;
        font-weight: 400;
        color: $primary-color-one;
        @include tablet {
          font-size: 0.875rem;
          padding: 0;
        }
      }
    }
  }
}

.photogallery {
  background-color: $secondary-color-three;
  padding: 1rem 1rem 0.3125rem 1rem;

  @include tablet {
    padding: 2.8125rem 2.25rem 2.25rem 2.25rem;
  }

  @include desktop {
    padding: 2.8125rem 8.125rem 2.25rem 8.125rem;
  }

  &__title {
    color: $primary-color-one;
    padding-bottom: 0.6875rem;
    font-size: 1.5rem;
    font-family: "NunitoSans", sans-serif;
    font-weight: 700;

    @include tablet {
      font-size: 2.25rem;
      padding-left: 0.625rem;
    }

    @include desktop {
      padding-bottom: 1.5625rem;
    }
  }

  &__collection {
    @include tablet {
      display: flex;
      flex-wrap: wrap;
    }

    &--image {
      width: 100%;
      padding: 0.3125rem 0;
      filter: grayscale(100%);

      &:hover {
        filter: grayscale(0%);
      }

      @include tablet {
        width: 32%;
        padding: 0.625rem;
        flex-grow: 1;
      }
    }
  }
}

.comments {
  width: 100%;
  margin: 0 auto;

  &__header {
    font-size: 1.375rem;
    font-weight: 700;
    padding: 1rem 1rem 0 1rem;
    color: $primary-color-one;

    @include tablet {
      font-size: 2.25rem;
      padding: 3rem 0 0 2.25rem;
    }

    @include desktop {
      padding-left: 6.25rem;
    }
  }

  &__form {
    @include flex-align(row, 1rem);
    padding: 1rem 1rem 1rem 4rem;
    position: relative;
    height: 40%;

    @include tablet {
      padding: 2.5rem 5rem 1.875rem 5rem;
      display: flex;

      @include desktop {
        padding: 1.125rem 25rem 1.25rem 25rem;
      }
    }
    &-group-one {
      @include tablet {
        padding-top: 1.25rem;
      }
      &-avatar {
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50%;
        position: absolute;
        top: 2.5rem;
        left: 1.25rem;

        @include tablet {
          position: static;
          width: 3rem;
          height: 3rem;
        }
      }
    }

    &-group-two {
      @include flex-align(column, 1rem);
      width: 100%;

      &-namesection {
        &-label {
          padding-bottom: 0.25rem;
          font-size: 0.625rem;
          font-weight: bolder;
          color: $primary-color-two;

          @include tablet {
            font-size: 0.75rem;
          }
        }
        &-nameinput {
          height: 3rem;
          width: 100%;
          border: 1px solid $secondary-color-two;
          border-radius: 0.25rem;
          background-color: $secondary-color-three;
          padding: 0.75rem;

          &::placeholder {
            font-family: "NunitoSans", sans-serif;
            font-weight: 13px;
            color: $primary-color-one;
            font-weight: 500;
          }

          &:hover {
            border: 1px solid $primary-color-one;
          }
        }
      }

      &-messagesection {
        &-message {
          height: 7.5rem;
          width: 100%;
          border: 1px solid $secondary-color-two;
          border-radius: 0.25rem;
          background-color: $secondary-color-three;
          padding: 0.75rem;

          &::placeholder {
            font-family: "NunitoSans", sans-serif;
            font-weight: 13px;
            color: $primary-color-one;
            font-weight: 500;
          }

          &:hover {
            border: 1px solid $primary-color-one;
          }
        }

        &-label {
          padding-bottom: 0.25rem;
          font-size: 0.625rem;
          font-weight: bolder;
          color: $primary-color-two;

          @include tablet {
            font-size: 0.75rem;
          }
        }
      }

      &-buttonbox {
        @include tablet {
          display: flex;
          justify-content: flex-end;
        }
        &-button {
          @include button;
          font-size: 0.9375rem;
          width: 100%;

          &:hover {
            background-color: $secondary-color-one;
          }

          @include tablet {
            height: 2.5rem;
            width: 9.375rem;
          }
        }
      }
    }
  }

  &__users {
    height: 60%;
    width: 100%;
    padding: 1rem;

    @include tablet {
      padding: 0 5rem 2.5rem 5rem;
    }

    @include desktop {
      padding: 0 25rem 2.5rem 25rem;
    }

    &-textbox {
      border-top: 1px solid $secondary-color-two;
      border-collapse: collapse;
      padding: 1rem 0;
      @include flex-align(row, 1rem);

      &:last-child {
        border-bottom: 1px solid $secondary-color-two;
      }
      &-avatar {
        &-img {
          background: $secondary-color-two;
          width: 2.25rem;
          height: 2.25rem;
          border-radius: 50%;
        }

        @include tablet {
          width: 3rem;
          height: 3rem;
        }
      }

      &-content {
        width: 100%;
        color: $primary-color-one;
        position: relative;
        @include flex-align(column, 1rem);
        &-nameanddate {
          display: flex;
          justify-content: space-between;

          &-name {
            font-size: 0.875rem;
          }

          &-date {
            font-size: 0.875rem;
            color: $primary-color-two;
          }
        }

        &-text {
          font-size: 0.8125rem;
          font-weight: 500;

          @include tablet {
            font-size: 0.875rem;
          }
        }

        &-buttons {
          position: absolute;
          bottom: -0.3125rem;
          right: -0.3125rem;
          display: flex;
          gap: 0.3125rem;
          &-like {
            cursor: pointer;
          }

          &-delete {
            cursor: pointer;
          }
        }
      }
    }
  }
}
