@font-face {
  font-family: "NunitoSans";
  src: url("../../assets/fonts/NunitoSans-Regular.woff");
  font-weight: 400;
}
@font-face {
  font-family: "NunitoSans";
  src: url("../../assets/fonts/NunitoSans-Medium.woff2") format("woff2");
  font-weight: 500;
}
@font-face {
  font-family: "NunitoSans";
  src: url("../../assets/fonts/NunitoSans-Bold.woff2") format("woff2");
  font-weight: 700;
}
* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "NunitoSans";
  font-weight: 400;
}

.navbar {
  background-color: #323232;
}
@media (min-width: 768px) {
  .navbar {
    display: flex;
    padding: 0px 36px;
    gap: 36px;
  }
}
@media (min-width: 1280px) {
  .navbar {
    padding-left: 130px;
  }
}
.navbar__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 16px 0;
}
.navbar__list {
  list-style: none;
  display: flex;
  padding: 0;
}
@media (min-width: 768px) {
  .navbar__list {
    display: flex;
    align-items: center;
    gap: 36px;
    padding: 0px;
  }
}
.navbar__link {
  width: 50%;
  text-align: center;
  color: #afafaf;
  padding-bottom: 16px;
  font-size: 13px;
}
.navbar__link:active {
  border-bottom: 3px solid white;
  font-weight: bold;
}
.navbar__link:hover {
  border-bottom: 3px solid white;
  color: #fafafa;
}
@media (min-width: 768px) {
  .navbar__link {
    padding: 32px 0;
    font-size: 14px;
  }
}

.footer {
  background-color: #323232;
  color: white;
  padding: 24px 16px 16px 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
@media (min-width: 768px) {
  .footer {
    padding: 40px 36px;
    gap: 36px;
  }
}
@media (min-width: 1280px) {
  .footer {
    padding: 40px 150px;
  }
}
.footer__logo--desktop {
  display: none;
}
@media (min-width: 768px) {
  .footer__logo--desktop {
    display: flex;
    align-items: center;
  }
}
.footer__logo--mobile {
  padding-top: 40px;
}
@media (min-width: 768px) {
  .footer__logo--mobile {
    display: none;
  }
}
@media (min-width: 768px) {
  .footer__brand {
    display: flex;
    justify-content: space-between;
  }
}
.footer__social {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
@media (min-width: 768px) {
  .footer__social {
    display: flex;
    flex-direction: row;
    gap: 36px;
  }
}
@media (min-width: 1280px) {
  .footer__social {
    display: flex;
    flex-direction: row;
    gap: 60px;
    align-items: center;
  }
}
.footer__social--title {
  font-family: "NunitoSans";
  font-size: 24px;
  font-weight: 700;
}
@media (min-width: 768px) {
  .footer__social--title {
    font-size: 36px;
  }
}
.footer__social--icon {
  display: flex;
  flex-direction: row;
  gap: 30px;
}
@media (min-width: 768px) {
  .footer__social--icon {
    align-items: center;
    position: relative;
    top: 4px;
  }
}
@media (min-width: 1280px) {
  .footer__social--icon {
    top: 5px;
  }
}
.footer__info {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
@media (min-width: 768px) {
  .footer__info {
    display: flex;
    flex-direction: row;
    gap: 0px;
    justify-content: space-between;
  }
}
@media (min-width: 1280px) {
  .footer__info {
    display: flex;
    flex-direction: row;
    gap: 80px;
    justify-content: flex-start;
  }
}
.footer__info .footer__management,
.footer__info .footer__artist-group,
.footer__info .footer__entertainment {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
@media (min-width: 768px) {
  .footer__info .footer__management,
  .footer__info .footer__artist-group,
  .footer__info .footer__entertainment {
    gap: 24px;
  }
}
.footer__info .footer__management h3,
.footer__info .footer__artist-group h3,
.footer__info .footer__entertainment h3 {
  font-family: "NunitoSans";
  font-size: 13px;
  font-weight: 700;
}
@media (min-width: 768px) {
  .footer__info .footer__management h3,
  .footer__info .footer__artist-group h3,
  .footer__info .footer__entertainment h3 {
    font-size: 14px;
  }
}
.footer__info .footer__management p,
.footer__info .footer__artist-group p,
.footer__info .footer__entertainment p {
  font-family: "NunitoSans";
  font-size: 13px;
  font-weight: 400;
}
@media (min-width: 768px) {
  .footer__info .footer__management p,
  .footer__info .footer__artist-group p,
  .footer__info .footer__entertainment p {
    font-size: 14px;
  }
}
.footer__info .footer__management a,
.footer__info .footer__artist-group a,
.footer__info .footer__entertainment a {
  text-decoration: none;
  color: white;
}
.footer__copyright {
  font-family: "NunitoSans";
  font-size: 11px;
  font-weight: 400;
}
@media (min-width: 768px) {
  .footer__copyright {
    padding: 16px 0px;
    font-size: 14px;
  }
}
@media (min-width: 1280px) {
  .footer__copyright {
    padding: 18px 0px;
  }
}

.herosection {
  background-image: url(../assets/images/hero-bio.jpg);
  background-position: center center;
  background-size: cover;
  background-color: rgba(50, 50, 50, 0.5);
  background-blend-mode: overlay;
  width: 100%;
  height: 200px;
  position: relative;
}
.herosection__title {
  color: white;
  position: absolute;
  top: 90px;
  padding-left: 16px;
}
@media (min-width: 768px) {
  .herosection__title {
    font-size: 60px;
    font-weight: 700;
    position: absolute;
    top: 230px;
    padding-left: 36px;
  }
}
@media (min-width: 1280px) {
  .herosection__title {
    top: 280px;
    padding-left: 130px;
  }
}
@media (min-width: 768px) {
  .herosection {
    height: 500px;
  }
}
@media (min-width: 1280px) {
  .herosection {
    background-position: center;
    height: 630px;
  }
}

.aboutbandsite__title {
  display: flex;
  align-items: center;
  padding: 24px 16px 0px 16px;
  color: #323232;
  font-family: "NunitoSans";
  font-size: 24px;
  font-weight: 700;
}
@media (min-width: 768px) {
  .aboutbandsite__title {
    font-size: 36px;
    padding-left: 36px;
    padding-top: 40px;
  }
}
@media (min-width: 1280px) {
  .aboutbandsite__title {
    padding-left: 115px;
    padding-top: 48px;
  }
}
.aboutbandsite__image {
  padding: 16px;
  height: 200px;
  width: 100%;
}
@media (min-width: 768px) {
  .aboutbandsite__image {
    padding: 24px 90px 30px 90px;
    height: 400px;
    width: 100%;
  }
}
@media (min-width: 1280px) {
  .aboutbandsite__image {
    padding: 28px 200px 30px 200px;
    height: 550px;
  }
}
.aboutbandsite__quote {
  color: #323232;
  font-family: "NunitoSans";
  font-size: 14px;
  font-weight: 700;
  padding: 0px 16px 16px 16px;
}
@media (min-width: 768px) {
  .aboutbandsite__quote {
    font-size: 21px;
    padding: 0px 90px 10px 90px;
    font-weight: bolder;
  }
}
@media (min-width: 1280px) {
  .aboutbandsite__quote {
    padding: 0px 200px 10px 200px;
    width: 88%;
  }
}
.aboutbandsite__quote--vocalist {
  color: #323232;
  font-family: "NunitoSans";
  font-size: 14px;
  font-weight: 700;
  padding: 0px 16px;
}
@media (min-width: 768px) {
  .aboutbandsite__quote--vocalist {
    font-size: 15px;
    padding: 0px 90px;
    font-weight: 900;
  }
}
@media (min-width: 1280px) {
  .aboutbandsite__quote--vocalist {
    font-size: 16px;
    padding: 0px 200px;
  }
}
.aboutbandsite__article {
  font-family: "NunitoSans";
  font-size: 14px;
  font-weight: 700;
  color: #323232;
  padding: 16px;
}
@media (min-width: 768px) {
  .aboutbandsite__article {
    font-size: 24px;
    font-weight: 500;
    padding: 36px 90px 25px 90px;
  }
}
@media (min-width: 1280px) {
  .aboutbandsite__article {
    padding: 36px 200px 25px 200px;
  }
}
@media (min-width: 768px) {
  .aboutbandsite__article--whole {
    display: flex;
    padding: 0px 90px 36px 90px;
    gap: 10px;
    line-height: 1.5rem;
    font-size: 14px;
  }
}
@media (min-width: 1280px) {
  .aboutbandsite__article--whole {
    padding: 0px 200px 36px 200px;
  }
}
.aboutbandsite__article--whole .aboutbandsite__article--first {
  padding: 0px 16px 24px 16px;
  font-family: "NunitoSans";
  font-size: 13px;
  font-weight: 400;
  color: #323232;
}
@media (min-width: 768px) {
  .aboutbandsite__article--whole .aboutbandsite__article--first {
    font-size: 14px;
    padding: 0px;
  }
}
.aboutbandsite__article--whole .aboutbandsite__article--second {
  padding: 0px 16px 16px 16px;
  font-family: "NunitoSans";
  font-size: 13px;
  font-weight: 400;
  color: #323232;
}
@media (min-width: 768px) {
  .aboutbandsite__article--whole .aboutbandsite__article--second {
    font-size: 14px;
    padding: 0px;
  }
}

.photogallery {
  background-color: #fafafa;
  padding: 16px 16px 5px 16px;
}
@media (min-width: 768px) {
  .photogallery {
    padding: 45px 36px 36px 36px;
  }
}
@media (min-width: 1280px) {
  .photogallery {
    padding: 45px 130px 36px 130px;
  }
}
.photogallery__title {
  color: #323232;
  padding-bottom: 11px;
  font-size: 24px;
  font-family: "NunitoSans";
  font-weight: 700;
}
@media (min-width: 768px) {
  .photogallery__title {
    font-size: 36px;
    padding-left: 10px;
  }
}
@media (min-width: 1280px) {
  .photogallery__title {
    padding-bottom: 25px;
  }
}
@media (min-width: 768px) {
  .photogallery__collection {
    display: flex;
    flex-wrap: wrap;
  }
}
.photogallery__collection--image {
  width: 100%;
  padding: 5px 0px;
  filter: grayscale(100%);
}
.photogallery__collection--image:hover {
  filter: grayscale(0%);
}
@media (min-width: 768px) {
  .photogallery__collection--image {
    width: 32%;
    padding: 10px;
    flex-grow: 1;
  }
}

.comments {
  width: 100%;
  margin: 0 auto;
}
.comments__header {
  font-size: 22px;
  font-weight: 700;
  padding: 16px 16px 0px 16px;
  color: #323232;
}
.comments__form {
  display: flex;
  flex-direction: row;
  gap: 16px;
  padding: 16px 16px 16px 64px;
  position: relative;
  height: 40%;
}
.comments__form-group-one-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  top: 40px;
  left: 20px;
}
.comments__form-group-two {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}
.comments__form-group-two-namesection-nameinput {
  height: 48px;
  width: 100%;
  border: 1px solid #e1e1e1;
  border-radius: 4px;
  background-color: #fafafa;
  padding: 12px;
}
.comments__form-group-two-namesection-nameinput::-moz-placeholder {
  font-family: "NunitoSans";
  font-weight: 13px;
  color: #323232;
  font-weight: 500;
}
.comments__form-group-two-namesection-nameinput::placeholder {
  font-family: "NunitoSans";
  font-weight: 13px;
  color: #323232;
  font-weight: 500;
}
.comments__form-group-two-namesection-label {
  padding-bottom: 4px;
  font-size: 10px;
  font-weight: bolder;
  color: #afafaf;
}
.comments__form-group-two-messagesection-message {
  height: 120px;
  width: 100%;
  border: 1px solid #e1e1e1;
  border-radius: 4px;
  background-color: #fafafa;
  padding: 12px;
}
.comments__form-group-two-messagesection-message::-moz-placeholder {
  font-family: "NunitoSans";
  font-weight: 13px;
  color: #323232;
  font-weight: 500;
}
.comments__form-group-two-messagesection-message::placeholder {
  font-family: "NunitoSans";
  font-weight: 13px;
  color: #323232;
  font-weight: 500;
}
.comments__form-group-two-messagesection-label {
  padding-bottom: 4px;
  font-size: 10px;
  font-weight: bolder;
  color: #afafaf;
}
.comments__form-group-two-button {
  height: 40px;
  box-shadow: none;
  border-style: none;
  background-color: #323232;
  color: white;
  border-radius: 4px;
  font-size: 15px;
}
.comments__users {
  padding: 16px;
  height: 60%;
}/*# sourceMappingURL=bio.css.map */