@font-face {
  font-family: "NunitoSans";
  src: url("../../assets/fonts/NunitoSans-Regular.woff") format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "NunitoSans";
  src: url("../../assets/fonts/NunitoSans-Medium.woff2") format("woff2");
  font-weight: 500;
}
@font-face {
  font-family: "NunitoSans";
  src: url("../../assets/fonts/NunitoSans-Bold.woff2") format("woff2");
  font-weight: 700;
}
* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "NunitoSans", sans-serif;
  font-weight: 400;
}

.navbar {
  background-color: #323232;
}
@media (min-width: 768px) {
  .navbar {
    display: flex;
    padding: 0px 36px;
    gap: 36px;
  }
}
@media (min-width: 1280px) {
  .navbar {
    padding-left: 130px;
  }
}
.navbar__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 16px 0;
}
.navbar__list {
  list-style: none;
  display: flex;
  padding: 0;
}
@media (min-width: 768px) {
  .navbar__list {
    display: flex;
    align-items: center;
    gap: 36px;
    padding: 0px;
  }
}
.navbar__link {
  width: 50%;
  text-align: center;
  color: #afafaf;
  padding-bottom: 16px;
  font-size: 13px;
}
.navbar__link.active {
  border-bottom: 3px solid white;
  font-weight: bold;
}
.navbar__link:hover {
  border-bottom: 3px solid white;
  color: #fafafa;
}
@media (min-width: 768px) {
  .navbar__link {
    padding: 32px 0;
    font-size: 14px;
  }
}
.navbar__link a {
  text-decoration: none;
  color: white;
}

.footer {
  background-color: #323232;
  color: white;
  padding: 24px 16px 16px 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
@media (min-width: 768px) {
  .footer {
    padding: 40px 36px;
    gap: 36px;
  }
}
@media (min-width: 1280px) {
  .footer {
    padding: 40px 150px;
  }
}
.footer__logo--desktop {
  display: none;
}
@media (min-width: 768px) {
  .footer__logo--desktop {
    display: flex;
    align-items: center;
  }
}
.footer__logo--mobile {
  padding-top: 40px;
}
@media (min-width: 768px) {
  .footer__logo--mobile {
    display: none;
  }
}
@media (min-width: 768px) {
  .footer__brand {
    display: flex;
    justify-content: space-between;
  }
}
.footer__social {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
@media (min-width: 768px) {
  .footer__social {
    display: flex;
    flex-direction: row;
    gap: 36px;
  }
}
@media (min-width: 1280px) {
  .footer__social {
    display: flex;
    flex-direction: row;
    gap: 60px;
    align-items: center;
  }
}
.footer__social--title {
  font-family: "NunitoSans", sans-serif;
  font-size: 24px;
  font-weight: 700;
}
@media (min-width: 768px) {
  .footer__social--title {
    font-size: 36px;
  }
}
.footer__social--icon {
  display: flex;
  flex-direction: row;
  gap: 30px;
}
@media (min-width: 768px) {
  .footer__social--icon {
    align-items: center;
    position: relative;
    top: 4px;
  }
}
@media (min-width: 1280px) {
  .footer__social--icon {
    top: 5px;
  }
}
.footer__info {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
@media (min-width: 768px) {
  .footer__info {
    display: flex;
    flex-direction: row;
    gap: 0px;
    justify-content: space-between;
  }
}
@media (min-width: 1280px) {
  .footer__info {
    display: flex;
    flex-direction: row;
    gap: 80px;
    justify-content: flex-start;
  }
}
.footer__info .footer__management,
.footer__info .footer__artist-group,
.footer__info .footer__entertainment {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
@media (min-width: 768px) {
  .footer__info .footer__management,
  .footer__info .footer__artist-group,
  .footer__info .footer__entertainment {
    gap: 24px;
  }
}
.footer__info .footer__management h3,
.footer__info .footer__artist-group h3,
.footer__info .footer__entertainment h3 {
  font-family: "NunitoSans", sans-serif;
  font-size: 13px;
  font-weight: 700;
}
@media (min-width: 768px) {
  .footer__info .footer__management h3,
  .footer__info .footer__artist-group h3,
  .footer__info .footer__entertainment h3 {
    font-size: 14px;
  }
}
.footer__info .footer__management p,
.footer__info .footer__artist-group p,
.footer__info .footer__entertainment p {
  font-family: "NunitoSans", sans-serif;
  font-size: 13px;
  font-weight: 400;
}
@media (min-width: 768px) {
  .footer__info .footer__management p,
  .footer__info .footer__artist-group p,
  .footer__info .footer__entertainment p {
    font-size: 14px;
  }
}
.footer__info .footer__management a,
.footer__info .footer__artist-group a,
.footer__info .footer__entertainment a {
  text-decoration: none;
  color: white;
}
.footer__copyright {
  font-family: "NunitoSans", sans-serif;
  font-size: 11px;
  font-weight: 400;
}
@media (min-width: 768px) {
  .footer__copyright {
    padding: 16px 0px;
    font-size: 14px;
  }
}
@media (min-width: 1280px) {
  .footer__copyright {
    padding: 18px 0px;
  }
}

.herosection {
  background-image: url(../assets/images/hero-bio.jpg);
  background-position: center center;
  background-size: cover;
  background-color: rgba(50, 50, 50, 0.5);
  background-blend-mode: overlay;
  width: 100%;
  height: 12.5rem;
  position: relative;
}
.herosection__title {
  color: white;
  position: absolute;
  top: 5.625rem;
  padding-left: 1rem;
}
@media (min-width: 768px) {
  .herosection__title {
    font-size: 3.75rem;
    font-weight: 700;
    position: absolute;
    top: 14.375rem;
    padding-left: 2.25rem;
  }
}
@media (min-width: 1280px) {
  .herosection__title {
    top: 17.5rem;
    padding-left: 8.125rem;
  }
}
@media (min-width: 768px) {
  .herosection {
    height: 31.25rem;
  }
}
@media (min-width: 1280px) {
  .herosection {
    background-position: center;
    height: 39.375rem;
  }
}

.aboutbandsite__title {
  display: flex;
  align-items: center;
  padding: 1.5rem 1rem 0.5rem 1rem;
  color: #323232;
  font-family: "NunitoSans", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
}
@media (min-width: 768px) {
  .aboutbandsite__title {
    font-size: 2.25rem;
    padding-left: 2.25rem;
    padding-top: 2.5rem;
    padding-bottom: 2.25rem;
  }
}
@media (min-width: 1280px) {
  .aboutbandsite__title {
    padding-left: 7.1875rem;
    padding-top: 3rem;
  }
}
.aboutbandsite__imagediv {
  height: 12.5rem;
  margin-bottom: 1rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
@media (min-width: 768px) {
  .aboutbandsite__imagediv {
    height: 25rem;
    margin-bottom: 1.125rem;
  }
}
@media (min-width: 1280px) {
  .aboutbandsite__imagediv {
    height: 34.375rem;
    margin-bottom: 2.25rem;
  }
}
.aboutbandsite__imagediv-image {
  width: 100%;
  height: auto;
  padding: 1rem;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (min-width: 768px) {
  .aboutbandsite__imagediv-image {
    padding: 1.5rem 5.625rem 1.875rem 5.625rem;
  }
}
@media (min-width: 1280px) {
  .aboutbandsite__imagediv-image {
    padding: 1.75rem 12.5rem 1.875rem 12.5rem;
  }
}
.aboutbandsite__quote {
  color: #323232;
  font-family: "NunitoSans", sans-serif;
  font-size: 0.875rem;
  font-weight: 700;
  padding: 0 1rem 1rem 1rem;
}
@media (min-width: 768px) {
  .aboutbandsite__quote {
    font-size: 1.3125rem;
    padding: 0 5.625rem 0.625rem 5.625rem;
    font-weight: bolder;
  }
}
@media (min-width: 1280px) {
  .aboutbandsite__quote {
    padding: 0 12.5rem 0.625rem 12.5rem;
    width: 88%;
  }
}
.aboutbandsite__quote--vocalist {
  color: #323232;
  font-family: "NunitoSans", sans-serif;
  font-size: 0.875rem;
  font-weight: 700;
  padding: 0 1rem;
}
@media (min-width: 768px) {
  .aboutbandsite__quote--vocalist {
    font-size: 0.9375rem;
    padding: 0 5.625rem;
    font-weight: 900;
  }
}
@media (min-width: 1280px) {
  .aboutbandsite__quote--vocalist {
    font-size: 1rem;
    padding: 0 12.5rem;
  }
}
.aboutbandsite__article {
  font-family: "NunitoSans", sans-serif;
  font-size: 0.875rem;
  font-weight: 700;
  color: #323232;
  padding: 1rem;
}
@media (min-width: 768px) {
  .aboutbandsite__article {
    font-size: 1.5rem;
    font-weight: 500;
    padding: 2.25rem 5.625rem 1.5625rem 5.625rem;
  }
}
@media (min-width: 1280px) {
  .aboutbandsite__article {
    padding: 2.25rem 12.5rem 1.5625rem 12.5rem;
  }
}
@media (min-width: 768px) {
  .aboutbandsite__article--whole {
    display: flex;
    padding: 0 5.625rem 2.25rem 5.625rem;
    gap: 0.625rem;
    line-height: 1.5rem;
    font-size: 0.875rem;
  }
}
@media (min-width: 1280px) {
  .aboutbandsite__article--whole {
    padding: 0 12.5rem 2.25rem 12.5rem;
  }
}
.aboutbandsite__article--whole .aboutbandsite__article--first {
  padding: 0 1rem 1.5rem 1rem;
  font-family: "NunitoSans", sans-serif;
  font-size: 0.8125rem;
  font-weight: 400;
  color: #323232;
}
@media (min-width: 768px) {
  .aboutbandsite__article--whole .aboutbandsite__article--first {
    font-size: 0.875rem;
    padding: 0;
  }
}
.aboutbandsite__article--whole .aboutbandsite__article--second {
  padding: 0 1rem 1rem 1rem;
  font-family: "NunitoSans", sans-serif;
  font-size: 0.8125rem;
  font-weight: 400;
  color: #323232;
}
@media (min-width: 768px) {
  .aboutbandsite__article--whole .aboutbandsite__article--second {
    font-size: 0.875rem;
    padding: 0;
  }
}

.photogallery {
  background-color: #fafafa;
  padding: 1rem 1rem 0.3125rem 1rem;
}
@media (min-width: 768px) {
  .photogallery {
    padding: 2.8125rem 2.25rem 2.25rem 2.25rem;
  }
}
@media (min-width: 1280px) {
  .photogallery {
    padding: 2.8125rem 8.125rem 2.25rem 8.125rem;
  }
}
.photogallery__title {
  color: #323232;
  padding-bottom: 0.6875rem;
  font-size: 1.5rem;
  font-family: "NunitoSans", sans-serif;
  font-weight: 700;
}
@media (min-width: 768px) {
  .photogallery__title {
    font-size: 2.25rem;
    padding-left: 0.625rem;
  }
}
@media (min-width: 1280px) {
  .photogallery__title {
    padding-bottom: 1.5625rem;
  }
}
@media (min-width: 768px) {
  .photogallery__collection {
    display: flex;
    flex-wrap: wrap;
  }
}
.photogallery__collection--image {
  width: 100%;
  padding: 0.3125rem 0;
  filter: grayscale(100%);
}
.photogallery__collection--image:hover {
  filter: grayscale(0%);
}
@media (min-width: 768px) {
  .photogallery__collection--image {
    width: 32%;
    padding: 0.625rem;
    flex-grow: 1;
  }
}

.comments {
  width: 100%;
  margin: 0 auto;
}
.comments__header {
  font-size: 1.375rem;
  font-weight: 700;
  padding: 1rem 1rem 0 1rem;
  color: #323232;
}
@media (min-width: 768px) {
  .comments__header {
    font-size: 2.25rem;
    padding: 3rem 0 0 2.25rem;
  }
}
@media (min-width: 1280px) {
  .comments__header {
    padding-left: 6.25rem;
  }
}
.comments__form {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding: 1rem 1rem 1rem 4rem;
  position: relative;
  height: 40%;
}
@media (min-width: 768px) {
  .comments__form {
    padding: 2.5rem 5rem 1.875rem 5rem;
    display: flex;
  }
}
@media (min-width: 768px) and (min-width: 1280px) {
  .comments__form {
    padding: 1.125rem 25rem 1.25rem 25rem;
  }
}
@media (min-width: 768px) {
  .comments__form-group-one {
    padding-top: 1.25rem;
  }
}
.comments__form-group-one-avatar {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  position: absolute;
  top: 2.5rem;
  left: 1.25rem;
}
@media (min-width: 768px) {
  .comments__form-group-one-avatar {
    position: static;
    width: 3rem;
    height: 3rem;
  }
}
.comments__form-group-two {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}
.comments__form-group-two-namesection-label {
  padding-bottom: 0.25rem;
  font-size: 0.625rem;
  font-weight: bolder;
  color: #afafaf;
}
@media (min-width: 768px) {
  .comments__form-group-two-namesection-label {
    font-size: 0.75rem;
  }
}
.comments__form-group-two-namesection-nameinput {
  height: 3rem;
  width: 100%;
  border: 1px solid #e1e1e1;
  border-radius: 0.25rem;
  background-color: #fafafa;
  padding: 0.75rem;
}
.comments__form-group-two-namesection-nameinput::-moz-placeholder {
  font-family: "NunitoSans", sans-serif;
  font-weight: 13px;
  color: #323232;
  font-weight: 500;
}
.comments__form-group-two-namesection-nameinput::placeholder {
  font-family: "NunitoSans", sans-serif;
  font-weight: 13px;
  color: #323232;
  font-weight: 500;
}
.comments__form-group-two-namesection-nameinput:hover {
  border: 1px solid #323232;
}
.comments__form-group-two-messagesection-message {
  height: 7.5rem;
  width: 100%;
  border: 1px solid #e1e1e1;
  border-radius: 0.25rem;
  background-color: #fafafa;
  padding: 0.75rem;
}
.comments__form-group-two-messagesection-message::-moz-placeholder {
  font-family: "NunitoSans", sans-serif;
  font-weight: 13px;
  color: #323232;
  font-weight: 500;
}
.comments__form-group-two-messagesection-message::placeholder {
  font-family: "NunitoSans", sans-serif;
  font-weight: 13px;
  color: #323232;
  font-weight: 500;
}
.comments__form-group-two-messagesection-message:hover {
  border: 1px solid #323232;
}
.comments__form-group-two-messagesection-label {
  padding-bottom: 0.25rem;
  font-size: 0.625rem;
  font-weight: bolder;
  color: #afafaf;
}
@media (min-width: 768px) {
  .comments__form-group-two-messagesection-label {
    font-size: 0.75rem;
  }
}
@media (min-width: 768px) {
  .comments__form-group-two-buttonbox {
    display: flex;
    justify-content: flex-end;
  }
}
.comments__form-group-two-buttonbox-button {
  height: 40px;
  box-shadow: none;
  border-style: none;
  background-color: #323232;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.9375rem;
  width: 100%;
}
.comments__form-group-two-buttonbox-button:hover {
  background-color: #000000;
}
@media (min-width: 768px) {
  .comments__form-group-two-buttonbox-button {
    height: 2.5rem;
    width: 9.375rem;
  }
}
.comments__users {
  height: 60%;
  width: 100%;
  padding: 1rem;
}
@media (min-width: 768px) {
  .comments__users {
    padding: 0 5rem 2.5rem 5rem;
  }
}
@media (min-width: 1280px) {
  .comments__users {
    padding: 0 25rem 2.5rem 25rem;
  }
}
.comments__users-textbox {
  border-top: 1px solid #e1e1e1;
  border-collapse: collapse;
  padding: 1rem 0;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.comments__users-textbox:last-child {
  border-bottom: 1px solid #e1e1e1;
}
.comments__users-textbox-avatar-img {
  background: #e1e1e1;
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 50%;
}
@media (min-width: 768px) {
  .comments__users-textbox-avatar {
    width: 3rem;
    height: 3rem;
  }
}
.comments__users-textbox-content {
  width: 100%;
  color: #323232;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.comments__users-textbox-content-nameanddate {
  display: flex;
  justify-content: space-between;
}
.comments__users-textbox-content-nameanddate-name {
  font-size: 0.875rem;
}
.comments__users-textbox-content-nameanddate-date {
  font-size: 0.875rem;
  color: #afafaf;
}
.comments__users-textbox-content-text {
  font-size: 0.8125rem;
  font-weight: 500;
}
@media (min-width: 768px) {
  .comments__users-textbox-content-text {
    font-size: 0.875rem;
  }
}
.comments__users-textbox-content-buttons {
  position: absolute;
  bottom: -0.3125rem;
  right: -0.3125rem;
  display: flex;
  gap: 0.3125rem;
}
.comments__users-textbox-content-buttons-like {
  cursor: pointer;
}
.comments__users-textbox-content-buttons-delete {
  cursor: pointer;
}/*# sourceMappingURL=bio.css.map */